<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>

<p class="animated fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio non quas rem quos ratione fugiat nisi molestias nemo fuga numquam! Saepe, error! Sequi prae</p>
<p class="animated fadeIn">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum eaque excepturi cum ut sunt in voluptatum unde, sapiente itaque et quo, voluptas maiores est laudantium molestiae ab aliquid consectetur ea! Porro et, aliquid obcaecati consectetur molestiae
    alias mollitia adipisci quis eius? Repellendus aperiam facere deleniti?</p>