<h1 class="aniamted fadeIn">{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date:'y' }})</small></h1>
<hr>


<div class="row aniamted fadeIn fast">
    <div class="col-md-4">

        <img src="{{ heroe.img}}" class="img-fluid" alt="">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-warning w-100">Regresar</a>
    </div>

    <div class="col-md-8">
        <h3>{{ heroe.nombre }}</h3>
        <hr>
        <p>
            {{ heroe.bio }}
        </p>
        <div class="col-md-4">
            <p>Pertenece a: {{ heroe.casa}}</p>
            <img src="{{ heroe.casaimg }}" alt="" class="img-fluid">
        </div>
    </div>

</div>